@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  letter-spacing: -0.02em;
  font-family: "Inter", "Segoe UI";
}

body {
  height: 100vh;
}