@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  letter-spacing: -0.02em;
  font-family: "Inter", "Segoe UI";
}

body {
  height: 100vh;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Custom dropdown arrow */
  background-image: url("/src/icons/drop_down_arrow.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 20px 20px;
  /* <-- make arrow bigger */
}